fl.bat
.idea/
jsons/
jsontokkt.exe
logs/
run*
!run_emul.bat
resource.syso
2/
infologs.txt
build/
found_files.csv
founded_files/
jsontokkt_win7.exe
proverka.exe
test_summs.exe
change_osn.bat
change_osn_emul.bat
retrun.bat
retrun_emul.bat
programma2.zip
*.bat
---/
clientrabbit.exe
!build.bat